plugins/the-events-calendar/license.txt
plugins/the-events-calendar/readme.md
plugins/the-events-calendar/readme.txt
plugins/the-events-calendar/vendor/select2/LICENSE
plugins/the-events-calendar/vendor/select2/README.md